@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier Prime', monospace;
  background-color: #9CAF88;
  text-align: center;
}

#input {
  height: 200px;
  width: 600px;
  margin: 100px;
}